body {
  background-color: #BCAF8A;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
}

#cakes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  background-color: #155765;
  border-radius: 20px;
  color: white;
  width: 150px;
  height: 170px;
  border: 5px solid white;
}

.tile img{
  max-width: 120px;
  max-height: 100px;
  margin: auto;
}
